*, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    
    background-color: #f2f2f2
  }
  
  html body {
    padding: 0;
    margin: 0;
  }
  @media screen and (max-width: 600px) {
    
   
  }